@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

:root {
  --backColor: #1D1D1D;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--backColor);
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s ease-in-out;
}

.menu {
  background: black;
  position: absolute;
  top: 88.5vh;
  padding: 10px;
  border-radius: 10px;
  width: 96%;
  margin: 0px 2%;
  text-align: center;
  z-index: 60;
}

.menu_class {
  font-size: 12px;
  text-transform: capitalize;
}
.icons {
  display: inline-block;
  width: 18%;
  text-align: center;

  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.spl {
  background: white;
  color: green;
  border-radius: 55px;
  height: 55px;
  width: 55px;
  margin: 0px 10px;
}
.spl_c {
  visibility: hidden;
}
.randomMe {
  position: relative;
  top: 10px;
  font-size: 25px;
}
.ic {
  font-size: 20px;
}

.icons:active {
  color: gold;
}
.spl:active {
  color: purple;
  background: white;
}
.miniPlayer {
  position: absolute;
  background: black;
  width: 96%;
  margin: 10px 2%;
  height: 40px;
  overflow: hidden;
  border-radius: 30px;
  display: table;
}
.imgP {
  border-radius: 100%;
  position: relative;
  margin-top: 6px;
  margin-left: 6px;
  width: 44px;
  height: 44px;

}
.playimg_img {
  display: table-cell;
  width: 15%;
}

#miniPlayer::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: gold;
  border-radius: 10px;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
#miniPlayer {
  -webkit-appearance: none;
  appearance: none;
  width: 95%;
  height: 1px;
  outline: none;
  opacity: 1;
  border-radius: 10px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.range {
  display: table-cell;
  width: 60%;
  text-align: center;
}
.p {
  text-align: center;
  width: 15%;
  height: 100%;
  display: table-cell;
}
.p {
  transform: translate(0px , -15px);
}
.range {
  transform: translate(0px , -20px);
}
.song_Display {
  position: absolute;
  transform: translate(2px, -8px);
  font-size: 10px;

}

#time , #TotalTime {
  position: absolute;
  font-size: 10px;
}
#time {
  transform: translate(10px ,0px );
}
#TotalTime {
  transform: translate(-110%,24px);
}


.controls {
  width: 96%;
  margin: 0px 2%;
  border-radius: 50px;
  overflow: hidden;
  display: table;
}
.cMenu {
  background: black;
  display: inline-block;
  width: 20%;
  padding: 15px;
  text-align: center;
  margin: 0;
  font-size: 20px;
}

.ChangeDiv {
  height: 480px;
  width: 94%;
  margin: 0px 3%;
  border-radius: 20px;

}
.songPoster {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: url("../../images/asset.jpg");
  background-size: 100%;
  overflow: hidden;
}
.song {
  background: #333;
  display: flex;
  padding: 2px 10px;
  border-radius: 70px;
  margin-bottom: 10px;
}
.songImg , .name {
  display: inline-block;
  height: 17%;
}
.songImg {
  width: 17%;
  position: relative;
  top: 6px;
  height: 60px;
  left: -2px;
}
.name {
  width: 83%;
  padding: 10px 20px;
}
#artist {
  font-size: 12px;
}
#count {
  float: right;
}

h3 {
  width: 94%;
  margin: 15px 3%;

}

.overflow {
  height: 50vh;
  overflow: scroll;
}
.overflow:before {
  content: "/";
  color: transparent;
  position: absolute;
  opacity: 0.9;
  background: #1D1D1D;
  width: 100%;
  z-index: 6;
  transform: translate(0px , -20px);
  filter: blur(4px);
}
#ober {
  color: transparent;
  position: absolute;
  width: calc(100% + 20px);
  display: block;
  background: #1D1D1D;
  margin: 0px 0px;
  z-index: 6;
  filter: blur(4px);
  transform: translate(-10px , -10px);
}

.extraControls {

  width: 100%;
  height: 105%;
  border-radius: 20px;
}
.volume {
  width: 100%;
  display: flex;
  align-items: center;
}
.voldiv {
  display: inline-block;
  width: 20%;
  text-align: center;
}
#vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 30px;
  background: #0581FD;
  border-radius: 20px;
  opacity: 0;
  transition: 0.2s ease-in-out;

}
#vol {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  margin: 20px 10px;
  height: 30px;
  background: #0581FD;
  outline: none;
  opacity: 1;
  border-radius: 20px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.iconFont {
  font-size: 30px;
  color: #0581FD;
  position: relative;
  left: 10px;
  top: 2px;
}

.ctrl {
  display: flex;
  width: 95%;
  margin: 10px 2.5%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.eMenu {
  display: inline-block;
  width: 23%;
  background: white;
  padding: 15px;
  text-align: center;
  margin: 0px 2%;
  font-size: 20px;
  border-radius: 10px;
  height: 60px;
  color: black;
}
h4 {
  width: 90%;
  margin: 0px 5%;
  color: #6D747A;
  padding: 20px 0px;
}
.PlaySpeed {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.speed {
  display: inline-block;
  width: 15%;
  margin: 2%;
  background: #eaeaea;
  text-align: center;
  padding: 10px;
  height: 15%;
  color: black;
  border-radius: 100%;
  font-weight: bold;
}
.lyrics {
  margin: 10px 5%;
  width: 90%;
  padding: 10px 10px;
  min-height: 80px;
  text-align: center;
  position: relative;
  font-size: 15px;
  top: 20px;
}
.rImg {
  border-radius: 100%;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);

}
.eta {
  width: 90%;
  display: flex;
  margin: 0px 5%;
  padding-top: 10px;
  align-items: center;
}
.rotateImg {
  width: 40%;
  height: 120px;
  display: inline-block;
}
.info {
  width: 60%;
  display: inline-block;
  margin: 10px 20px;
  font-size: 18px;
  text-align: center;
}
#author {
  font-size: 13px;
}
.listMusic {
  height: 480px;
  overflow: scroll;
  padding: 20px;
  font-size: 22px;
  position: absolute;
}
.extraControls {

  border-radius: 21px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
  height: 105%;
  overflow: hidden;
}
.bg {
  backdrop-filter: blur(10px);
  border-radius: 20px;
  background-size: 100% , 100%;
  overflow: hidden;
  height: 105%;
}
.fCard {
  width: 94%;
  align-items: center;
  display: flex;
  margin: 15px 3%;
  padding: 10px;
  border-radius: 10px;
}
.fCard:hover {
  background: #333;
}
.spl_text {
  width: 80%;
  padding: 0px 20px;
  display: inline-block;
}
.spl_count {

  font-size: 10px;
  margin-top: 5px;
}
.spl_count:after {
  content: " songs";
}
.splImage {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 4px;
}
.flowSmooth {
  height: 420px;
  overflow: scroll;
  background: black;
  border: 10px solid black;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}

.gold {
  color: gold;
}
.active {
  background: black;
  color: gold;
}
.clicked {
  color: gold;
  background: #333;
}

.animate {
  transform-origin: 50%;
  animation: myAni 10s linear infinite;

}
@keyframes myAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#stop:active {
  background: #333;
  color: gold;
}
.extraControls {
  overflow: hidden;

}
.cMenu:active {
  background: white;
  color: purple;
  transition: 0.2s ease-in-out;
}
.pCard {
  width: 100%;
}
.block1 {
  display: flex;
  width: 90%;
  margin: 10px 5%;
  align-items: center;
  margin-top: 20px;
}
.block2 {
  width: 90%;
  margin: 25px 5%;
  text-align: center;

}
#playlist_image {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}

.bb {
  display: inline-block;
  color: grey;
  width: 58%;
  padding: 0px 20px;
}
#playlist_name {
  font-size: 25px;
  color: white;
}
#playlist_song_number {
  font-size: 15px;
  color: grey;
}

#playlist_song_number:after {
  content: " Songs";
  font-size: 15px;
  color: grey;
}
.fa-circle {
  color: grey;
  font-size: 8px;
  transform: translate(0px , -2px);
}
.shuffle_playlist {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  background: white;
  padding: 5px 10px;
  color: grey;
  border-radius: 5px;
  border: 1px solid  white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}
.play_playlist {
  display: inline-block;
  width: 40%;
  background: #222;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}
.playlistSong {
  width: 90%;
  margin: 10px 5%;
  background: #333;
  display: flex;
  padding: 2px 10px;
  border-radius: 70px;
  margin-bottom: 10px;
}
.nactive {
  background: white;
  color: purple;
}
.DarkMode {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 10px;
}
.letsGo {
  position: relative;
  left: 140%;

}
#go {
  width: 55px;
  overflow: hidden;
  background: white;
  height: 30px;
  padding: 2px;
  border-radius: 20px;
  border: none;
  outline: none;
}
#flow {
  width: 25px;
  height: 25px;
  background: black;
  position: absolute;
  left: 27px;
  margin-top: 2.5px;
  border-radius: 25px;
  transition: 0.3s;
  text-align: center;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
}
#darktext {
  text-transform: uppercase;
  position: relative;
  top: -5px;
}



.fa-search {
  font-size: 20px;
  color: white;
}
.fa-search:active {
  color: green;
}
.modal {
  background: black;
  position: absolute;
  z-index: 8;
  width: 96%;
  margin: 15px 2%;
  height: 85vh;
  border-radius: 20px;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2);
  visibility: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
  overflow: hidden;
}
.select_songs {
  background: black;
  width: 100%;
  text-transform: capitalize;
  padding: 15px 20px;
  border-bottom: 1px solid #2F2F2F;
}
.select_songs:hover {
  background: #333;

}
.myspan {
  position: relative;
  top: 2px;
  font-size: 22px;
  left: 10px;
}
.ri {
  float: right;
  position: relative;
  top: 5px;
  font-weight: bold;
}

.noResponse {
  width: 100%;
  height: 90%;
  background: black;
  border-radius: 20px;
  text-align: center;
  padding-top: 20%;
  font-size: 25px;
}
.noResponse >span {
  display: block;
  position: relative;
  top: -30px;
  font-family: 'Amatic SC', cursive;
}

.noResponse > i {
  font-size: 50px;
}
.error {
  height: 70%;
  width: 50%;
}
.loser {
  padding-right: 4px;
}
.online {
  padding: 2px;
  position: absolute;
  width: 100%;
  top: -21px;
  text-align: center;
  font-size: 12px;
  overflow: hidden;
  height: 21px;
  transition: top 0.2s ease;
  z-index: 200;
}
.fontAwsome {
  width: 20px;
  height: 20px;
  position: relative;
  top: -1px;

}
#fontAwsome {
  top: -1px;
  font-size: 12px;
}
.search {
  background: #222;
  width: 100%;
  position: absolute;
  left: 0;
  height: 100vh;
  z-index: 200;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  opacity: 0;
  overflow: scroll;
}
.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background: black;
  padding: 5px 0px;
  margin-bottom: 0px;
}
#back {
  width: 10%;
  background: black;
  text-align: center;
  padding: 10px;
}
#search {
  width: 88%;
  padding: 10px;
  border: 1.5px solid black;
  border-radius: 3px;
  outline: none;
  background: #333;
  overflow-x: hidden;
}
#search::placeholder {
  font-family: 'Poppins', sans-serif;
}
#search:focus {
  border-color: gold;
  background: #444;
  color: white;
}
.searchResults {}
.search-result {
  background: #333;
  width: 95%;
  margin: 5px 2.5%;
  padding: 10px;
  border-radius: 7px;
  z-index: 2;
  position: relative;
}
.search-result:hover {
  background: white;
  color: purple;
  transition: 0.2s ease;
}
.noResults {
  text-align: center;
  position: relative;
  top: 35%;
  font-size: 18px;
  padding: 10px;
  color: #70707080;
  height: 0;
}


.menu .icons {
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.menu .icons > span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
  animation: ripples 0.6s linear infinite;
}
.menu > div > i {
  pointer-events: none;
}
.menu > div > .menu_class {
  pointer-events: none;
}

@keyframes ripples {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

.ChangeDiv , .miniPlayer  , .controls  , .menu {
  max-width: 500px;
  height: auto;
}
@media screen and (max-width:649px) {
  body {
    margin: 0px;
  }
}
@media screen and (min-width: 650px) {
  ::-webkit-scrollbar-thumb {
    background: grey;
  }
  ::-webkit-scrollbar {
    background: rgba(0,0,0,0.2);
    width: 15px;
  }
  .flowSmooth {
    height: 82vh;
    overflow-x: hidden;
  }
  .extraControls {
    height: 85vh;
    transform: translate(0%, 5%);
  }
  .bg {
    height: 100%;
  }
  .rImg {
    width: auto;
  }
  .menu {
    top: 0%;
    bottom: none;
    left: 0;
    transform: rotate(90deg) translate(60%, 250%);
  }
  .menu > * {
    transform: rotate(270deg);
  }
  .body {
    margin-left: 20%;
  }
  .overflow {
    overflow-x: hidden;
  }
  .ChangeDiv {
    min-height: 800px;
    width: 48%;
    margin: auto 0px;
    transform: translate(-10%, -23%);
    overflow-x: Hidden;
  }
  .miniPlayer {
    transform: translate(90% , 0%);
    width: 40%;
  }
  .controls {
    transform: translate(92% , 0%);
    width: 50%;
  }
  .overflow {
    height: 82vh;
  }
  .splimg {
    width: 38%;
    max-width: 450px;
    height: 400px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(-7% , -25%);
    border-radius: 20px;
    background-image: url(../../wallpapy.jpg);
    background-size: cover;
    animation: cool 20s ease-in-out infinite;
  }
  .modal {
    height: 87vh;
    margin: 0px;
    top: 8%;
    position: fixed;
    left: 18%;
    width: 50%;
    max-width: 400px;
    z-index: 4000;
    box-shadow: 1px 1px 4px 0 rgba(255,255,255,.2);
  }
  .new-modal {
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width: 150vw;
    left: -15%;
    margin: 0px auto;
    backdrop-filter: blur(10px);
    z-index: 3000;
    position: fixed;

  }
  body {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 1200px;
    margin-left: 5%;
    padding-top: 10px;

  }
  .icons, .ChangeDiv h3 , .playview , .cMenu  ,.fa-search  ,.shuffle_playlist , .play_playlist , .eMenu , .speed {
    cursor: pointer
  }
  .miniPlayer input {
    cursor: pointer
  }
  #vol {
    cursor: pointer;
  }
}

@keyframes cool {
  0% {
    background-color: steelblue;
    background-blend-mode: darken;
  }
  10% {
    background-color: blue;
    background-blend-mode: darken;
  }
  20% {
    background-color: firebrick;
    background-blend-mode: darken;
  }
  30% {
    background-color: orange;
    background-blend-mode: darken;
  }
  40% {
    background-color: green;
    background-blend-mode: darken;
  }
  50% {
    background-color: maroon;
    background-blend-mode: darken;
  }
  60% {
    background-color: #ca25ef;
    background-blend-mode: darkenb
  }
  70% {
    background-color: lavendar;
    background-blend-mode: darken;
  }
  80% {
    background-color: #eea726;
    background-blend-mode: darken;
  }
  90% {
    background-color: pink;
    background-blend-mode: darken;
  }
  100% {
    background-color: teal;
    background-blend-mode: darken;
  }
}
.ChangeDiv {
  position: relative;
}
.loader {
  position: absolute;
  top: 0px;
  height: 100%;
  background: black;
  width: 100%;
  z-index: 3000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  visibility: hidden;
  opacity: 0;
}
